@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-Bold.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-BlackItalic.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-Regular.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-Black.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cocomat Pro Trial';
    src: url('../fonts/CocomatProTrial-Italic.woff2') format('woff2'),
        url('../fonts/CocomatProTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ol li,
ul li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: 'Cocomat Pro Trial', serif;
  font-weight: 900;
  text-transform: uppercase;
}
img {
  vertical-align: top;
}
html,
body {
	font-size: 17px;
	font-family: 'Exo 2', sans-serif;
	line-height: 30px;
	color: #484848;
	height: 100%;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	max-width: 900px;
	margin: 0 auto;
}

/* -------------- */

.header {
}
.header__title {
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 4px;
	color: #555;
	text-align: center;

	padding: 50px 0 20px;
	margin: 0 0 20px 0;
	
}
.header__date {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 40px 0;
}
.header img{
	width: 100%;
	margin: 0 0 50px 0;
}
.header p {
	margin: 0 0 23px 0;
}
.header__list {
	margin: 0 0 50px 0;
	padding: 20px;
}
.header__link{
	color: #6c00ff;
}
.header__link:hover{
	text-decoration: underline;
	text-shadow: 0 0 5px #93ff00,
	0 0 15px #93ff00, 0 0 25px #93ff00;
}
.main p {
	margin: 0 0 23px 0;
}
.main a{
	color: #6c00ff;
}
.main a:hover{
	text-decoration: underline;
	text-shadow: 0 0 5px #93ff00,
	0 0 15px #93ff00, 0 0 25px #93ff00;
}
.main img{
	width: 100%;
	margin: 0 0 10px 0;
}
.title {
	font-size: 24px;
	font-style: italic;
	letter-spacing: 1px;

	margin: 10px 0 30px 0;
}
p.about {
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	text-align: center;
	color: #555;

	margin: 0 0 37px 0;
}
.card {
	max-width: 32%;
	display: inline-block;
	text-align: center;

	margin: 0 10px 50px 0;
	padding: 0;
}
.card p {
	font-size: 18px;
	font-weight: 600;
	color: #000000;

	margin: 10px 0 20px;
}
.card a{
	display: inline-block;
	width: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 6px;
	text-transform: uppercase;
	background: #fc0150;

	padding: 15px;
}
.card a:hover{
	color: #e0e0e0;
	background: #01fcad;
	text-decoration: none;
	text-shadow: none;
}
.card:last-of-type{
	margin: 0;
}
.footer {
	text-align: center;
	padding: 30px;
}