@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('../fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
}
ol li,
ul li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-indent: 0px;
}
img {
  vertical-align: top;
}
html,
body {
	font-size: 24px;
	font-family: 'Times New Roman', sans-serif;
	line-height: 32px;
	color: #606c71;
	height: 100%;
	background-color: #e8e8e8;
}
.wrapper{
	min-height: 100%;
	max-width: 850px;
	margin: 0 auto;
	box-sizing: border-box;
	/* display: none; */
}
.border{
	max-width: 100%;
	min-height: 30px;
	background: linear-gradient(-90deg, #eee27f, #3d3b30, #4d5061, #5c80bc, #dc9596);
	border-top: 2px solid  #dc9596;
	border-bottom: 2px solid  #5c80bc;
}
.border_reverse{
	max-width: 100%;
	min-height: 30px;
	background: linear-gradient(90deg, #eee27f, #3d3b30, #4d5061, #5c80bc, #dc9596);
	border-top: 2px solid  #5c80bc;
	border-bottom: 2px solid  #dc9596;
}

/* -------------- */
.main{
	padding: 77px 0 0;
	background: url(../img/ellipse2.png) 53% 19% no-repeat;
}
.subtitle {
	font-size: 14px;
	font-family: Arial, serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	margin: 40px 0 20px 0;
}
.title {
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	margin: 0 0 75px 0;
}
.image {
	border: 26px solid #fff;
	box-shadow: 0 7px 17px 2px rgba(15, 16, 16, 0.15);
	margin: 0 0 95px 0;
	max-width: 100%;
}
.container {
	max-width: 740px;
	margin: 0 auto;
}
.container p{
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 55px 0;
}
.list {
	margin: 0 0 60px 0;
	font-size: 20px;
	line-height: 36px;
	font-family: Arial, serif;
	color: #273d46;
}
.list li {
	background: url(../img/check.png) 0 8px no-repeat;
	padding: 0 0 0 35px;
}
.blue {
	font-style: italic;
	color: #80b7b3;
}
.line-through {
	text-decoration: line-through;
	color: #bcbfc1;
}
.link {
	display: inline-block;
	padding: 15px 30px;
	margin: 0 0 100px 0;
	border-radius: 30px;
	background-color: #80b7b3;
	color: #fff;
	text-transform: uppercase;
	font-family: Arial, serif;
	font-size: 14px;
	letter-spacing: 5px;
	border: 2px solid #80b7b3;
	box-shadow: 0 2px 20px 2px rgba(15, 16, 16, 0.15);
}
.link:hover{
	background-color: #3a5553;
	box-shadow: 0 2px 20px 10px rgba(15, 16, 16, 0.15);
	border: 2px solid #80b7b3;
}
.link span{
	background: url(../img/arrow.png) right no-repeat;
	padding: 0 25px 0 0;
}

/* Sertification */

.certification {
	background-color: #fafafb;
	color: #333;
	font-size: 16px;
	font-family: Gillroy, serif;
}
.box{
	background: url(../img/bg2.png) 70% 0 no-repeat;
}
.wrap {
	margin: 0 auto;
	padding: 50px 0 0 0;
	max-width: 1160px;
	padding: 0 10px 0;
	font-family: 'Gilroy', serif;
	
}
.banner-top {
	margin: 0 0 40px 0;
	padding: 40px 0 0 0;
}
.logo {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.logo__title {
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	color: #E1E1E1;
	text-transform: uppercase;
	border-right: 1px solid #89AFEF;
	padding: 0 20px 0 0;
	display: inline-block;
}
.logo__text {
	padding: 0 0 0 20px;
	margin: 0 72px 0 0;
	line-height: 18px;
	font-size: 14px;
	font-weight: 500;
	color: #5D5D5D;
	display: inline-block;
	max-width: 193px;
}
.social {
	display: inline-block;
	margin: 0 104px 0 0;
}
.social__btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	line-height: 43px;
	border-radius: 50%;
}
.whatsapp{
	background: url(../img/whatsapp-logo.png) center no-repeat;
	background-color: #2DD038;
	box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
	margin: 0 18px 0 0;
}
.whatsapp:hover{
	box-shadow: 0px 8px 25px 5px rgba(45, 208, 56, 1);
}
.viber{
	background: url(../img/viber-logo.png) center no-repeat;
	background-color: #7B519D;
	box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
	margin: 0 18px 0 0;
}
.viber:hover{
	box-shadow: 0px 8px 25px 5px rgba(123, 81, 157, 1);
}
.telegram{
	background: url(../img/telegram.png) center no-repeat;
	background-color: #5BBAF0;
	box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}
.telegram:hover{
	box-shadow: 0px 8px 25px 5px rgba(91, 186, 240, 1);
}
.contact {
	display: inline-block;
	line-height: 26px;
}
.contact__phone {
	background: url(../img/phone.png) left no-repeat;
	padding: 0 20px 0 25px;
}
.contact__phone a{
	color: #333;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.contact__phone a:hover{
	border-bottom: 1px dashed #333;
}
.contact__mail {
	padding: 0 0 0 25px;
	margin: 0 0 0 29px;
	background: url(../img/mail.png) left no-repeat;
}
.contact__mail a{
	font-size: 17px;
	font-weight: 700;
	color: #333;
	margin: 0;
	padding: 0;
}
.contact__mail a:hover{
	border-bottom: 1px dashed #333;
}
.call-me__btn {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	vertical-align: top;
	background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
	box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
	border-radius: 3px;
	display: inline-block;

	padding: 12px 24px;
	margin: 0 0 0 23px;
}
.call-me__btn:hover{
	box-shadow: 0px 0px 18px rgba(242, 147, 81, 1);
}
.navigation {
	margin: 0 0 96px 0;
}
.navigation li{
	display: inline-block;
	margin: 0 56px 0 0;
}
.navigation li:last-of-type{
	margin: 0;
}
.navigation__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	text-transform: uppercase;
	color: #333;
}
.navigation__link:hover{
	text-decoration: underline;
	color: rgb(71, 71, 71);
	text-shadow: 0 3px 5px #333;
}
.content__text{
	max-width: 692px;
	display: inline-block;
}
.content__image{
	max-width: 675px;
	display: inline-block;
}
.content img{
	max-width: 271px;
	display: inline-block;
}
.content__title{
	font-weight: 900;
	font-size: 40px;
	line-height: 51px;
	margin: 0 0 35px 0;
}
.content p{
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 35px 0;
}
.content span{
	font-weight: 800;
	line-height: 31px;
}
.button{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	padding: 16px 65px;
	background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
	box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
	border-radius: 3px;
	cursor: pointer;
	margin: 0 0 136px 0;
}
.button:hover{
	color: rgb(216, 216, 216);
	background: linear-gradient(-90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
	box-shadow: 0px 12px 20px rgba(132, 170, 237, 1);
}

/* study */
.study {
	font-size: 17px;
	font-weight: 500;
	line-height: 26px;
	color: #333;
	background: #fff;
	padding: 100px 10px;
}
.wrap {
}
.security {
	background: url(../img/path.png) right no-repeat;
	margin: 0 0 23px 0;
}
.security__price {
	display: inline-block;
	max-width: 30%;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	margin: 0 78px 0 0;
}
.security__price p{
	margin: 0 0 15px 0;
}
.cost {
	display: inline-block;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	color: #87B0EE;
	border-bottom: 2px solid #87B0EE;

	padding: 0 0 6px 0;
	margin: 0 0 20px 0;
}
.registration {
}
.bold {
	font-weight: 800;
}
.security__price .button {
	margin: 20px 0 60px;
}
.security__about {
	display: inline-block;
	max-width: 502px;
	vertical-align: top;
	padding: 0 0 81px;
	background: url(../img/geometry.png) 99% 10px no-repeat;
}
.security__about p{
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;
}

.security__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 51px;
	margin: 34px 0;
}
.security__image{
	display: inline-block;
	max-width: 300px;
	vertical-align: top;
	margin: 37px 0 0 20px;
	
}
.security img{
	
}
.study__content {
}
.study__content p{
	margin: 0 0 25px 0;
}
.study__title {
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	margin: 10px 0 15px;
}
.study__subtitle {
	font-weight: bold;
	font-size: 19px;
	line-height: 24px;
	margin: 0 0 15px 0;
}
.study__list {
	padding: 0 0 0 80px;
}
.study__list li {
	background: url(../img/oval.png) 0 9px no-repeat;
	padding: 0 0 0 23px;
}